.navbar-brand {
	padding-top: 2px;
}

.panel-default {
	margin: 10px;
}

.alert {
	margin: 10px;
}
.alinhar-botoes{
	padding-bottom:10px;
	margin-left: 10px;
	margin-top: 5px;
}

.alinhar-a-direita{
	position: relative; 
	width: 100%;
}

.alinhar-central {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center; /* Centraliza o <p> horizontalmente dentro da div */
    align-items: center; /* Centraliza o <p> verticalmente dentro da div */
}

.aw-link-panel{
	float:right;
	padding:0px;
	
}
.aw-titulo-panel{
	float:left;
	height: 25px;
	font-size:medium;
}
margin-left{
	margin-top:10px;
	margin-bottom: 5px;
}

.btn-menu{
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif; 
	font-size:16px;
}	

.btn-primary{
	margin-top: 30px;
}

.selector-for-some-widget{
	box-sizing:content-box;
}

.container-fluid{
	height: 25px;
}

.panel-body{
	margin: 10px;
	margin-top: 5px;
}

.card{
	margin: 10px;
	background-color:#80808033;
}

.card-login{
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.card-body{
	background-color:#e9ecef;
	height:45px;
}
.ws-container-image{
	margin: 0 auto;
	padding:12px;
}

.ws-color-gray{
	color:#495057;
}

.page-link{
	color:#212529 !important;
	float:right;
}

.link-underline-opacity-0{
	float:right;
}

.btn-outline-dark{
	border-color:#adb5bd !important;
}

/* Estilos para barra de menu superior */
.navbar {
     background-color: #343a40;
     padding: 9px 20px;
     width: 100%;
     box-sizing: border-box;
     max-height: 100px;
}

.container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}

.navbar-brand {
      color: white;
      text-decoration: none;
}

.user-info {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      margin-right:50px;
}

.user-info p {
      margin: 0;
      color: white;
}

.bi-person-circle {
      font-size: 1.5rem;
}
        
.navbar-brand h1{
	  font-size:1.0rem;
	  margin:0;
}

@media (max-width: 600px) {
      .navbar {
      padding: 10px;
}

.user-info p {
       font-size: 14px;
  }
}

