<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutPadrao}">

<head>
	<title>Oficina</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" action="/agendamento" th:object="${filtro}">
	
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Agendamento salvo com sucesso!!!</span>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Agendar Serviço</h1>
					<a class="btn btn-link aw-link-panel" href="/index">Voltar para listagem</a>
				</div>
			</div>

		<div class="panel-body">
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-primary" data-toggle="modal" 
							data-target="#pesquisaClienteModal">Adicionar cliente</a>
				</div>
			</div>
			
			<div class="form-group">
				<label for="nome" class="col-sm-2 control-label">Nome</label>
				<div class="col-sm-2">
					<output type="text" class="form-control" id="nome" name="nome" disabled="true"
						value="${clientePesquisado.nome}"/>
				</div>
			</div>

			<div class="form-group">
				<label for="celular" class="col-sm-2 control-label">Celular</label>
				<div class="col-sm-2">
					<output type="text" class="form-control" id="celular" name="celular" disabled="true"
						value="${clientePesquisado.celular}" />
				</div>
			</div>

			<div class="form-group">
				<label for="residencial" class="col-sm-2 control-label">Residencial</label>
						<div class="col-sm-2">
							<output type="text" class="form-control" id="residencial" name="residencial" disabled="true"
								value="${clientePesquisado.residencial}" />
						</div>
			</div>

			<div class"form-group">
				<label for="data" class="col-sm-2 control-label">Data Serviço</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="data" name="data" data-provide="datepicker"
						data-date-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true"
						data-date-today-highlight="true" />
				</div>
			</div>

			<div class="form-group">
				<label for="horario" class="col-sm-2 control-label">Horário</label>
				<div class="col-sm-2">
					<input type="time" class="form-control js-timepicker" id="horario" name="horario" />
				</div>
			</div>

			<div class="form-group">
				<label for="servicos" class="col-sm-2 control-label">Serviço</label>
				<div class="col-sm-2">
					<select class="form-control" name="servicos">
						<option th:each="option : ${listaServicos}" th:value="${option.nome}" th:text="${option.nome}">
						</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="preco" class="col-sm-2 control-label">Preço serviço</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="preco" name="preco" th:value"{precoCobrado}" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" name="salvar" class="btn btn-primary">Agendar</button>
				</div>
			</div>
		</div>
		</div>
		
		<div th:replace="dialogAdicionarCliente"></div> 
	</form>
</html>