<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">

<head>
	<title>Oficina</title>
</head>

<section layout:fragment="conteudo">
    
    <form class="form-horizontal" method="POST" action="/cliente">
    
    	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
    		<span th:text="${mensagem}">Cliente salvo com sucesso!!!</span>
    	</div>
    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="clearfix">
    				<h1 class="panel-title aw-titulo-panel">Novo Cliente</h1>
    				<a class="btn btn-link aw-link-panel" href="/index">Voltar para listagem</a>
    			</div>
    		</div>
    		
    		<div class="panel-body">
				<div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome*</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="nome" name="nome" th:value="${nome}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="endereco" class="col-sm-2 control-label">Endereço/numero</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="endereco" name="endereco" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="cidade" class="col-sm-2 control-label">Cidade</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="cidade" name="cidade"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="estado" class="col-sm-2 control-label">Estado</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="estado" name="estado"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="celular" class="col-sm-2 control-label">Celular*</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="celular" name="celular"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="telefone" class="col-sm-2 control-label">Telefone</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="telefone" name="telefone"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="telefone" class="col-sm-2 control-label">Placa*</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="telefone" name="telefone"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="marca" class="col-sm-2 control-label">Marca</label>
					<div class="col-sm-2">
						<select class="form-control" name="marca">
							<option th:each="option : ${listaMarcas}" th:value="${option.nome}" th:text="${option.nome}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="marca" class="col-sm-2 control-label">Modelo</label>
					<div class="col-sm-2">
						<select class="form-control" name="marca">
							<option th:each="option : ${listaModelo}" th:value="${option.modelo}" th:text="${option.modelo}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="ano" class="col-sm-2 control-label">Ano</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="ano" name="ano"/>
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>

</html>