<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">

<head>
	<title>Oficina</title>
</head>

<section layout:fragment="conteudo">
    
    <form class="form-horizontal" method="POST" action="/servicoRapido" >
    
    	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
    		<span th:text="${mensagem}">Serviço salvo com sucesso!</span>
    	</div>
    
    	<div class="card">
    		<div class="card-body">
    			<div class="clearfix">
    				<h5 class="card-title aw-titulo-panel">Lançar Serviço Rápido</h5>
    				<a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 
	  							link-underline-opacity-75-hover" href="/index">
  							Voltar para listagem
				    </a>
    			</div>
    		</div>
    		
    		<div class="panel-body">
				<div class="form-group">
					<label for="preco" class="col-sm-2 control-label">Preço cobrado*</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="preco" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="data" class="col-sm-2 control-label">Data Serviço*</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="data"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="observacao" class="col-sm-2 control-label">Observação</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="observacao"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-secondary btn-sm ">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
</html>