<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
   <div class="modal fade modal-lg" id="pesquisaClienteModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
         <form action="/agendamento/pesquisa" method="GET" th:object="${nomePesquisa}">
           
            <div class="modal-content">
            
            	<div id="mensagem" class="alert alert-danger" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>
				
               <div id="mensagem"></div>
               
               <div class="modal-header">
                  <h4 class="modal-title">Pesquisar cliente</h4>
               </div>
                      <!-- Modal -->
			        <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
			            <div class="modal-dialog">
			                <div class="modal-content">
			                    <div class="modal-header">
			                        <h5 class="modal-title" id="qrCodeModalLabel">Seu QR Code</h5>
			                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			                    </div>
			                    <div class="modal-body">
			                        <img src="/images/qrcode.png" class="img-fluid" alt="QR Code">
			                    </div>
			                    <div class="modal-footer">
			                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
         </form>
         
         <table class="table table-striped" id="tabelaResultados">
	         <thead>
		         <tr class="text-center">
			         <th scope="col">ID</th>
			         <th scope="col">Nome</th>
			         <th scope="col">Adicionar</th>
		         </tr>
	         </thead>
	         <tbody>
	         </tbody>
         </table>
	         <div class="modal-footer">
	         	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limparCamposAoFecharModal()">Cancelar</button>
	         </div>
         
         </div>
      </div>
   </div>
   </div>
   </div>
</html>