<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutPadrao}">

<head>
	<title>Oficina</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Lista de orçamentos</h1>
				<a class="btn btn-link aw-link-panel" href="/index">Voltar para listagem</a>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				
				<thead>
					<tr>
						<th>Numero Orçamento</th>
						<th>Cliente</th>
						<th>Imprimir</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td class="text-center" />
						<td class="text-center"  />
						
						<td class="text-center">
							<a class="btn btn-link btn-xs" >
								<span class="glyphicon glyphicon-print"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>