<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutPadrao}">

<head>
	<title>Oficina</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
    		<div class="clearfix">
    			<h1 class="panel-title aw-titulo-panel">Pesquisar por nome</h1>
    			<a class="btn btn-link aw-link-panel" href="/index">Voltar para pagina inicial</a>
    		</div>
    	</div>
	
		<div class="panel-body">
			<form method="GET" class="form-horizontal" action="/cliente" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Qual cliente você está procurando?"
												 autofocus="autofocus" th:field="*{nome}"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		
			
			<table class="table table-bordered table-striped">
				
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-2">Nome</th>
						<th class="text-center col-md-1">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${listaClientes.empty}">
						<td colspan="2">Não há clientes</td>
					</tr>
					<tr th:each="cliente: ${listaClientes}">
						<td class="text-center"  />
						<td class="text-center" th:text="${cliente.nome}" />
					
						<td class="text-center">
						
							<a class="btn btn-link btn-xs" th:href="@{/cliente/{id} (id=${cliente.id})}"
							   title="Editar cliente" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							
							<a class="btn btn-link btn-xs"  data-target="#confirmacaoExclusaoModal" 
										rel="tooltip" data-toggle="modal" th:attr="data-id=${cliente.id}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							
						</td>
					</tr>	
				</tbody>
			</table>
		</div>
		<div th:replace="dialogConfirmacaoExclusao"></div>
	</div>
</section>
</html>