<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutPadrao}">

<head>
	<title>Oficina</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
    		<div class="clearfix">
    			<h1 class="panel-title aw-titulo-panel">Pesquisar por agendamento</h1>
    			<a class="btn btn-link aw-link-panel" href="/index">Voltar para listagem</a>
    		</div>
    	</div>
	
		<div class="panel-body">
			<form method="GET" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Digite a data do agendamento"
												 autofocus="autofocus" ></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		
			
			<table class="table table-bordered table-striped">
				
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-2">Nome</th>
						<th class="text-center col-md-2">Data</th>
						<th class="text-center col-md-2">Horário</th>
						<th class="text-center col-md-2">Status</th>
						<th class="text-center col-md-2">Ações</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>